.article_header
.article_contents
  .article_contents__recommended
    %h1.article_contents__recommended--title おすすめ
    .article_contents__recommended--content
      
    .article_contents__recommended--btn もっと見る
  .article_contents__area
  .article_contents__list
.article_footer

