.article_header
.article_contents
  .article_contents__recommended.container
    %h3 おすすめ
    %ul
      %li
        = link_to "おすすめ入ります", "", class:"popularity"
      %li
        = link_to "おすすめ入ります", "", class:"popularity"
      %li
        = link_to "おすすめ入ります", "", class:"popularity"
      %li
        = link_to "おすすめ入ります", "", class:"popularity"
    .article_contents__recommended--btn もっと見る
  .article_contents__area.container
  .article_contents__list.container
.article_footer

