<div class="cover-container d-flex w-100 p-3 mx-auto flex-column cover-box">
  <header class="masthead mb-auto">
    <div class="inner">
      <h2 class="masthead-brand">Precious memories only for you</h3>
    </div>
  </header>
  <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script>
  $(function(){
    $('#myfile').change(function(e){
      var file = e.target.files[0];
      var reader = new FileReader();
      if(file.type.indexOf("image") < 0){
        alert("画像ファイルを指定してください。");
        return false;
      }
      reader.onload = (function(file){
        return function(e){
          $("#img1").attr("src", e.target.result);
          $("#img1").attr("title", file.name);
        };
      })(file);
      reader.readAsDataURL(file);
    });
  });
  </script>
  </head>
  <body>
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Collect important moments in one book</h1>
      <p class="lead">You can easily create Only one album in the world just by selecting the title and cover.</p>
      <p class="lead form-group">
        <%= form_for picture do |f| %>
          <%= f.text_field :title, class: "form-control" %><br>
          <%= f.file_field :image, id: "myfile" %><br>
          <img id="img1" style="width:450px;height:350px;" /><br>
          <%= f.submit "create", class: 'btn btn-lg btn-secondary' %>
        <% end %>
      </p>
    </main>
  </body>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
  </footer>
</div>