<%# <% photos.each do |photo| %>
<div class="image-box">
  <div class="card" style="width: 40rem;">
    <img src="https://cdn.pixabay.com/photo/2019/10/04/06/03/panorama-4524858__480.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">エストニアの風景写真です。</p>
    </div>
  </div>
</div>
<div class="image-box">
  <div class="card" style="width: 40rem;">
    <img src="https://cdn.pixabay.com/photo/2018/11/05/20/58/tallinn-3796852__480.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">タリン市内の降雨後、とても綺麗だったのでついパシャッ。</p>
    </div>
  </div>
</div>
<div class="image-box">
  <div class="card" style="width: 40rem;">
    <img src="https://cdn.pixabay.com/photo/2017/09/28/21/48/estonia-2797148__480.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">冬のエストニアです。雪景色と石レンガの相性がとても良い。</p>
    </div>
  </div>
</div>
<div class="image-box">
  <div class="card" style="width: 40rem;">
    <img src="https://cdn.pixabay.com/photo/2018/10/07/12/16/estonia-3729912__480.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">日本では珍しい風車です。ジブリみたいでエモかったので。</p>
    </div>
  </div>
</div>
<div class="image-box">
  <div class="card" style="width: 40rem;">
    <img src="https://cdn.pixabay.com/photo/2015/09/26/02/01/estonia-958567__480.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">タリン市内を走る車一つ一つがとても綺麗。</p>
    </div>
  </div>
</div>
<div class="image-box">
  <div class="card" style="width: 40rem;">
    <img src="https://cdn.pixabay.com/photo/2013/11/27/07/36/autumn-season-219155__480.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">少し肌寒い秋の季節。</p>
    </div>
  </div>
</div>
<div class="image-box">
  <div class="card" style="width: 40rem;">
    <img src="https://cdn.pixabay.com/photo/2018/03/23/08/28/architecture-3253028__480.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">RPGに出てきそうな街並み。異世界感を味わえます。</p>
    </div>
  </div>
</div>
<div class="image-box">
  <div class="card" style="width: 40rem;">
    <img src="https://cdn.pixabay.com/photo/2018/10/10/12/23/estonia-3737129__480.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">タリン市内の広場はとても大賑わいです。</p>
    </div>
  </div>
</div>
<div class="image-box">
  <div class="card" style="width: 40rem;">
    <img src="https://cdn.pixabay.com/photo/2017/06/08/22/26/parispea-2385098__480.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">階段一つとっても撮影対象に最適です。</p>
    </div>
  </div>
</div>
<div class="image-box">
  <div class="card" style="width: 40rem;">
    <img src="https://cdn.pixabay.com/photo/2018/03/23/08/28/megalopolis-3253029__480.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">最高の風景です。いきたくなったでしょ？</p>
    </div>
  </div>
</div>
<%# <% end %>