.body{
  padding-top:50px;
  height: calc(100vh - 56px);
  width: 100vw;
  background-image: url(https://d1f5hsy4d47upe.cloudfront.net/fe/fe844a3c62d9db1f3a0ed04801f126f7_t.jpeg);
  background-size: cover;
}

.contents{
  border-radius: 10px;
  height: 85%;
  width: 90%;
  padding: 35px 20px 0 20px;
  margin: auto;
  background-color: #fff;
  overflow: scroll;
  display: flex;
}

.image-box{
  margin: 0 15px 15px;
}

.bottom{
  margin-top: 70%;
}

.center{
  text-align: center;
}

.fa-picture-o{
  margin: 30px 0 0 125px;
}

.hidden{
  display: none;
}

.send{
  padding: 5%;
}

.space{
  height: 100%;
  width:20px;
  background-color: #fff;
  color: #fff;
}